@model  final_budget_expense.Models.BudgetRecordViewModel
@{
    Layout = null;
}
@if (Model.User != null)
{
    <p id="user_id">@Model.User.UserID</p>
}
<div id="tableBody">
    @if (Model.Months.Count > 0 && Model.Years.Count() > 0)
    {
        @Html.DropDownListFor(x => Model.SelectedMonth, new SelectList(Model.Months), htmlAttributes: new { @id = "monthOptions" })
        @Html.DropDownListFor(x => Model.SelectedYear, new SelectList(Model.Years), htmlAttributes: new { @id = "yearOptions" })
    }
        <a class="pull-right" style="padding-top: .7%; padding-right:1%" onclick="location.href='@Url.Action("SignIn", "Home")'; logout();">Logout</a>
        @if (Model.User != null)
        {
            <button class="pull-right" style="margin-top: .5%; margin-right: 10px" onclick="location.href='@Url.Action("Home", "Home", new {id = Model.User.UserID})'" id="goBackButton" type="button">Go Back</button>
        }
        else
        {
            <button class="pull-right" style="margin-top: .5%; margin-right: 10px;" onclick="location.href='@Url.Action("Home", "Home" )'" id="goBackButton" type="button">Go Back</button>
        }
    <table class="table table-bordered"  style="table-layout: fixed; word-wrap: break-word;">
        <tr>
            <th class="text-center">
                Date
            </th>
            <th class="text-center">
                Type
            </th>
            <th class="text-center">
                Description
            </th>
            <th class="text-center">
                Amount
            </th>
        </tr>

        @foreach (var item in Model.Records)
        {
            <tr>
                <td class="text-center">
                    @Html.Raw(item.DateOfTrans.ToString("d"))
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TypeOfTrans)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TransDescription)
                </td>
                <td class="text-center">
                    <!--- $Html.DisplayFor(modelItem => item.Amount) -->
                    
                    @if(item.Amount == 0)
                    {
                        @item.Amount.ToString("$0.00")
                    }
                    else
                    {
                        @item.Amount.ToString("$#.00")
                    }
                    
                </td>
            </tr>
        }
    </table>
    <div id="rightAlign">
        @if (Convert.ToDouble(calcTotal()) > 0)
        {
            <th>
                <button style="margin-top: 1%"id="pos_total" button" disabled>Total: $@calcTotal()</button>
            </th>
        }
        else 
        {
            <th>
                <button style="margin-top: 1%"id="neg_total" button" disabled>Total: $@calcTotal()</button>
            </th>
        }
    </div>

        @functions
    {

            public string calcTotal()
            {
                double total = 0;
                foreach (var item in Model.Records)
                {

                    double amount = 0;
                    if (item.TypeOfTrans == "Expense")
                    {
                        amount = item.Amount * -1;
                        total += amount;
                    }
                    else if (item.TypeOfTrans == "Income")
                    {
                        amount = item.Amount;
                        total += amount;
                    }
                }
                if (total == 0)
                {
                    return total.ToString("0.00");
                }
                else
                return total.ToString("#.00");
            }

        }
