@model IEnumerable<final_budget_expense.Models.BudgetRecord>
@model final_budget_expense.Models.BudgetRecord


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            Date
        </th>
        <th>
            Type
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTrans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfTrans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransDescription)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BudgetID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BudgetID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BudgetID })
            </td>
        </tr>
    }
</table>
@foreach (var item in Model.TypeOfTrans)
{
    double total = 0;
    double amount = 0;
    if (@Model.TypeOfTrans == "expense")
    {
        amount = @Model.Amount * -1;
        total -= amount;
    }
    else if (@Model.TypeOfTrans == "income")
    {
        amount = @Model.Amount;
        total += amount;
    }
}
